/* start main styles */
:root {
  --main-black: #18191a;
  --main-blue: #2124b1;
  --light-blue: #4777f5;
  --main-gap: 20px;
  --main-padding: 25px;
  --main-delay: 500ms;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Heebo", sans-serif;
  background-color: #f3f6ff;
}
/* end main styles */

/* start container */
.main-container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 1320px;
  padding: 0 12px;
  margin: 0 auto;
}
@media (max-width: 1399px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
/* end container */

/* start general styles */
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
input:focus,
textarea:focus {
  outline: none;
}
form {
  display: flex;
}
input {
  border: 2px white solid;
  padding: 10px;
  background-color: white;
  color: var(--light-blue);
}
[type="text"] {
  border-radius: 20px 0 0 20px;
}
[type="submit"] {
  font-family: fontawesome;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}
.h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 25px;
}

h2 {
  font-size: 15px;
  color: var(--main-blue);
  padding-left: 20px;
  position: relative;
}
h2:after {
  content: "";
  position: absolute;
  background-color: #2124b180;
  height: 10px;
  width: 10px;
  top: 4px;
  left: 0;
}
h2::before {
  content: "";
  position: absolute;
  background-color: #2124b180;
  height: 10px;
  width: 10px;
  bottom: 5px;
  left: 3px;
}
.h2 {
  font-size: 32px;
  font-weight: 500;
  position: relative;
  margin-bottom: 20px;
}
.h2::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    to right,
    var(--main-black) 75%,
    transparent 75%,
    transparent 90%,
    var(--main-black) 90%
  );
  top: calc(100% + 3px);
  left: 50%;
  height: 4px;
  width: 50px;
  transform: translateX(-50%);
}
.lorem {
  color: #888;
}
/* start scroll animation */
.box:nth-child(2),
.box:nth-child(5) {
  animation-delay: 0.4s;
}
.box:nth-child(3),
.box:nth-child(6) {
  animation-delay: 0.6s;
}

.sa {
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 0.2s;
}
@keyframes comeY {
  from {
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes comeR {
  from {
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes comeL {
  from {
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes comeUp {
  from {
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* end scroll animation */

/* end general styles */

/* *********** start nav *********** */
nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1320px;
  height: 85px;
  padding: 0 65px;
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  border-bottom: solid 1px #fff5;
  color: white;
  transition-duration: var(--main-delay);
  z-index: 20;
}
nav.scroll {
  height: 65px;
  background-color: white;
  color: var(--main-blue);
}
/* h1 */
nav > a {
  margin-right: auto;
  display: flex;
  align-items: center;
  font-size: 22px;
}
nav > a span {
  font-size: 0.6em;
}

/* ul */
nav > ul {
  display: flex;
  gap: 20px;
  font-weight: 500;
  transition-duration: var(--main-delay);
}
nav > ul > li {
  display: flex;
  align-items: center;
  gap: 5px;
  transition-duration: inherit;
  position: relative;
  cursor: pointer;
  padding: 0 10px;
  transition-duration: var(--main-delay);
}
nav > ul > li.active,
nav > ul > li:hover {
  color: var(--light-blue);
}
nav > ul > li::after {
  content: "";
  position: absolute;
  top: 100%;
  height: 2px;
  width: 100%;
  right: 0;
  transform-origin: right;
  transition: transform var(--main-delay);
  transform: scaleX(0);
  background-color: var(--light-blue);
}
nav > ul > li.active::after,
nav > ul > li:hover::after {
  left: 0;
  transform-origin: left;
  transform: scaleX(1);
}
/* dropdown list */
nav > ul ul {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  padding: 0 10px;
  background-color: white;
  border-radius: 10px;
  color: var(--light-blue);
  width: 150px;
  transition-duration: var(--main-delay);
  opacity: 0;
  transform: translateY(20px);
  visibility: hidden;
  
}
nav > ul .active ul {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
nav > ul ul li {
  margin: 5px 0;
  padding: 5px 10px;
  transition-duration: var(--main-delay);
}
nav > ul ul li:hover {
  background-color: #eeee;
}
/* list */
nav i.list{
  color: #888;
  padding: 5px 10px;
  border-radius: 5px;
  border: #888 solid 1px;
  display: none;
}
/* search */
nav > i {
  align-self: center;
  color: var(--light-blue);
  cursor: pointer;
}
/* search-screen */
.search-screen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000a;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transform: translateY(0);
  transition-duration: var(--main-delay);
  z-index: 50;
  visibility: visible;
}
.search-screen span {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0 8px;
  font-size: 25px;
  background-color: #fffa;
  cursor: pointer;
  color: var(--main-black);
  border-radius: 10px;
}
.search-screen form {
  max-width: calc(100% - 20px);
}
.search-screen input {
  font-size: 30px;
}
.search-screen [type="text"] {
  background-color: transparent;
  color: white;
  width: 400px;
}
.search-screen.invisible {
  opacity: 0;
  transform: translateY(-30px);
  visibility: hidden;
}

#toUp {
  position: fixed;
  right: 40px;
  bottom: 40px;
  color: white;
  background-color: var(--main-blue);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  opacity: 0;
  transition-duration: var(--main-delay);
  z-index: 50;
}
/* *********** end nav *********** */
/* *********** start desk *********** */
#desk {
  background-color: var(--main-blue);
  background-image: url(../media/bg-bottom-hero.png), url(../media/bg-dot.png),
    url(../media/bg-round.png), url(../media/bg-tree.png);
  background-position: bottom -1px center, 20px 20px, top center, bottom center;
  background-repeat: no-repeat;
  background-size: contain, auto, auto, auto;
  color: white;
}
#desk .container {
  padding-top: 125px;
  height: 100%;
}

/* *********** end desk *********** */


/* *********** start footer *********** */
footer {
  background-color: var(--main-blue);
  color: white;
  background-image: url(../media/footer.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-position: center;
}
footer .up {
  margin-top: 50px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
footer .up > div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .up > div:nth-child(1) p i{
  margin-right: 5px;
}
footer .up > div:nth-child(1) .media{
  display: flex;
  gap: 10px;
}
footer .up > div:nth-child(1) .media i{
  height: 40px;
  width: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: solid 0.5px #fff2;
  border-radius: 50%;
  transition-duration: var(--main-delay);
}
footer .up > div:nth-child(1) .media i:hover{
  background: white;
  color: var(--main-blue);
}
footer .up > div:nth-child(2) a::before{
  content: "\f105";
  font-family: fontawesome;
  margin-right: 5px;
}
footer .up > div:nth-child(2) a{
  transition-duration: var(--main-delay);
}
footer .up > div:nth-child(2) a:hover{
  letter-spacing: 1.5px;
}
footer .up > div:nth-child(3) .imgs{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}
footer [type="text"]{
  flex-grow: 1;
}
footer .down{
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}
footer .down ul{
  display: flex;
  gap: 30px;
}
footer .down ul li{
  position: relative;
}
footer .down ul li:not(:first-of-type)::before{
  content: "";
  position: absolute;
  height: 120%;
  width: 1px;
  background-color: #fff3;
  top: 50%;
  transform: translateY(-50%);
  left: -15px;
}
footer .down p a{
  color: var(--light-blue);
  margin: 0 5px;
}
/* *********** end footer *********** */

/* start responsivity */
@media (max-width: 991px) {
  /* ****** nav ****** */
  /* ul */
nav > ul {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  flex-direction: column;
  background-color: white;
  color: var(--main-black);
  margin-top: 5px;
  gap: 5px;
  overflow: hidden;
  min-height: 0;
  max-height: 0;
  transition-duration: var(--main-delay);
}
nav > ul.active {
  min-height: 290px;
  max-height: 410px;
}
nav > ul > li {
  position: initial;
  padding: 10px;
  flex-wrap: wrap;
}
nav li.active,
nav li:hover {
  background-color: #eee;
  color: var(--light-blue);
}
/* dropdown list */
nav > ul ul {
  position: initial;
  width: 100%;
  color: var(--main-black);
  border-radius: 0;
  overflow: hidden;
  height: 0;
  transition-duration: var(--main-delay);
  opacity: 1;
  transform: translate(0);
}
nav > ul .active ul {
  height: 120px;
  animation: none;
}
/* list */
nav i.list{
  display: block;
}


/* footer */
footer .up{
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
}
footer .down{
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

}
@media (max-width: 767px) {
  footer .up{
    grid-template-columns: 1fr;
  }
}
@media (max-width: 575px) {
  nav{
    padding: 10px;
  }
  .h2{
    font-size: 25px;
  }
  .box{
    width: 100%;
  }
  #team .box{
    width: calc(100% - 70px);
  }
}
/* end responsivity */
