/* start main styles */
:root {
  --main-black: #18191a;
  --main-blue: #2124b1;
  --light-blue: #4777f5;
  --main-gap: 20px;
  --main-padding: 25px;
  --main-delay: 500ms;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Heebo", sans-serif;
  background-color: #f3f6ff;
}
/* end main styles */

/* start container */
.main-container{
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}
.container {
  max-width: 1320px;
  padding: 0 12px;
  margin: 0 auto;
}
@media (max-width: 1399px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 575px) {
  .container {
    width: 100%;
  }
}
/* end container */

/* start general styles */
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
section{
  background-color: white;
}
input:focus,
textarea:focus {
  outline: none;
}
form {
  display: flex;
}
input {
  border: 2px white solid;
  padding: 10px;
  background-color: white;
  color: var(--light-blue);
}
[type="text"] {
  border-radius: 20px 0 0 20px;
}
[type="submit"] {
  font-family: fontawesome;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}
.h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 25px;
}

h2{
  font-size: 15px;
  color: var(--main-blue);
  padding-left: 20px;
  position: relative;
}
h2:after{
  content: "";
  position: absolute;
  background-color: #2124b180;
  height: 10px;
  width: 10px;
  top: 4px;
  left: 0;
}
h2::before{
  content: "";
  position: absolute;
  background-color: #2124b180;
  height: 10px;
  width: 10px;
  bottom: 5px;
  left: 3px;
}
.h2{
  font-size: 32px;
  font-weight: 500;
  position: relative;
  margin-bottom: 20px;
}
.h2::after{
  content: "";
  position: absolute;
  background-image: linear-gradient(to right,var(--main-black) 75%,transparent 75%,transparent 90%,var(--main-black) 90%);
  top: calc(100% + 3px);
  left: 50%;
  height: 4px;
  width: 50px;
  transform: translateX(-50%);
}
.lorem{
  color: #888;
}
/* start scroll animation */
.box:nth-child(even) {
  animation-delay: 0.6s;
}

.sa {
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 0.2s;
}
@keyframes comeY {
  from {
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes comeR {
  from {
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes comeL {
  from {
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes comeUp {
  from {
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* end scroll animation */

/* end general styles */

/* *********** start nav *********** */
nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1320px;
  height: 85px;
  padding: 0 65px;
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  border-bottom: solid 1px #fff5;
  color: white;
  transition-duration: var(--main-delay);
  z-index: 20;
}
nav.scroll {
  height: 65px;
  background-color: white;
  color: var(--main-blue);
}
/* h1 */
nav > a {
  margin-right: auto;
  display: flex;
  align-items: center;
  font-size: 22px;
}
nav > a span {
  font-size: 0.6em;
}

/* ul */
nav > ul {
  display: flex;
  gap: 20px;
  font-weight: 500;
}
nav > ul > li {
  display: flex;
  align-items: center;
  gap: 5px;
  transition-duration: inherit;
  position: relative;
  cursor: pointer;
  padding: 0 10px;
}
nav > ul > li.active,
nav > ul > li:hover {
  color: var(--light-blue);
}
nav > ul > li::after {
  content: "";
  position: absolute;
  top: 100%;
  height: 2px;
  width: 100%;
  right: 0;
  transform-origin: right;
  transition: transform var(--main-delay);
  transform: scaleX(0);
  background-color: var(--light-blue);
}
nav > ul > li.active::after,
nav > ul > li:hover::after {
  left: 0;
  transform-origin: left;
  transform: scaleX(1);
}
/* dropdown list */
nav > ul ul {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  padding: 0 10px;
  background-color: white;
  border-radius: 10px;
  color: var(--light-blue);
  width: 150px;
  display: none;
  animation: list-appear var(--main-delay) 1;
}
nav > ul .active ul {
  display: block;
}
nav > ul ul li {
  margin: 5px 0;
  padding: 5px 10px;
  transition-duration: var(--main-delay);
}
nav > ul ul li:hover {
  background-color: #eeee;
}

/* search */
nav > i {
  align-self: center;
  color: var(--light-blue);
  cursor: pointer;
}
/* search-screen */
nav .search-screen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000a;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: list-appear var(--main-delay) 1;
  transition-delay: var(--main-delay);
}
nav .search-screen span {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0 8px;
  font-size: 25px;
  background-color: #fffa;
  cursor: pointer;
  color: var(--main-black);
  border-radius: 10px;
}
nav .search-screen input {
  font-size: 30px;
}
nav .search-screen [type="text"] {
  background-color: transparent;
  color: white;
  width: 400px;
}
nav .search-screen.invisible {
  display: none;
}

@keyframes list-appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* *********** end nav *********** */
/* *********** start desk *********** */
#desk {
  height: 99vh;
  width: 100wh;
  background-color: var(--main-blue);
  background-image: url(../media/bg-bottom-hero.png), url(../media/bg-dot.png),
    url(../media/bg-round.png), url(../media/bg-tree.png);
  background-position: bottom -1px center, 20px 20px, top center, bottom center;
  background-repeat: no-repeat;
  background-size: contain, auto, auto, auto;
  color: white;
}
#desk .container ,
#about .container ,
#newsletter .container {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-evenly;
}
#desk .container {
  padding-top: 50px;
  height: 100%;
}
#desk .text-box {
  max-width: 450px;
}
#desk img {
  animation: img-animation 3s infinite reverse cubic-bezier(.45,.05,.55,.95);
  transform: translateY(50px)rotateX(-20deg);
}
@keyframes img-animation{
  50%{
    transform: translateY(-50px) rotateX(20deg);
  }
}
#desk .buttons {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}
#desk button {
  padding: 15px 45px;
  border-radius: 30px;
  border: white solid 1px;
  background-color: transparent;
  color: white;
  transition-duration: var(--main-delay);
  cursor: pointer;
}
#desk button.active,
#desk button:hover {
  background-color: white;
  color: var(--main-black);
}
/* *********** end desk *********** */
/* *********** start about *********** */
#about{
  padding-top: 100px;
  padding-bottom: 100px;
}
#about .container > *{
  width: 50%;
}
#about .h2::after{
  left: 0;
  transform: none;
}
#about ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin: 15px 0;
}
#about li::before{
  content: "\f00c";
  font-family: "fontawesome";
  margin-right: 5px;
  font-weight: 900;
  color: var(--main-blue);
}
#about a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  height: 40px;
  width: 40px;
  border: 2px solid var(--main-blue);
  color: var(--main-blue);
  transition-duration: var(--main-delay);
}
#about a:first-of-type{
  width: fit-content;
  padding: 0 15px;
  background-color: var(--main-blue);
  color: white;
}
#about a:hover{
  background-color: var(--main-blue);
  color: white;
}
/* *********** end about *********** */
/* *********** start newsletter *********** */
#newsletter{
  background-color: var(--main-blue);
  color: white;
  background-image: url(../media/bg-newsletter.png);
  background-repeat: no-repeat;
  padding: 20px 0;
  height: 250px;
}
#newsletter .container{
  height: 210px;
}
#newsletter .container >*{
  width: 50%;
}

#newsletter .text-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
}
#newsletter .text-box .h1{
  margin-bottom: 5px;
}
#newsletter form{
  margin-top: 10px;
  width: 100%;
}
#newsletter [type="text"]{
  flex-grow: 1;
}
#newsletter img{
  align-self: flex-start;
}

/* *********** end newsletter *********** */
/* *********** start services *********** */
#services{
  padding-top: 200px;
}
/* *********** end services *********** */

/* start responsivity */
@media (max-width: 1399px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 575px) {
}
/* end responsivity */
